table.collapse.show{
  display:table;
}

#table_vote tbody {
   cursor:cell;
}


#table_vote tbody .tr:hover{
   background-color: violet!important;
}

#table_vote tbody .table-active{
    background-color: purple!important;
}

.box{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 45px;
}

.center{
  text-align: center;
}

.btn{
  cursor: pointer;
}

#precis{
  color:#bd7415;
}

#precis span{
  font-size: 11px;
}

.invisible {
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0.2s linear,
 opacity 0.2s linear;
 -moz-transition: visibility 0.2s linear,
 opacity 0.2s linear;
 -o-transition: visibility 0.2s linear,
 opacity 0.2s linear;
}

.peeka{
  display: none;
}


.visible {
 opacity: 1;
 visibility: visible;
 -webkit-transition: visibility 0.2s linear,
 opacity 0.2s linear;
 -moz-transition: visibility 0.2s linear,
 opacity 0.2s linear;
 -o-transition: visibility 0.2s linear,
 opacity 0.2s linear;
}


#barre_recherche {
    background-image: url('../img/searchicon.png'); /* Add a search icon to input */
    background-position: 8px 6px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 5px 20px 4px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#search_message{
  opacity: 0;
}

.no-padding{
  padding:0;
}
