table.collapse.show{
  display:table;
}

#table_vote tbody {
   cursor:cell;
}


#table_vote tbody .tr:hover{
   background-color: violet!important;
}

#table_vote tbody .table-active{
    background-color: purple!important;
}

.box{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 45px;
}

.center{
  text-align: center;
}

.btn{
  cursor: pointer;
}

#precis{
  color:#bd7415;
}

#precis span{
  font-size: 11px;
}
